* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.image-banner {
  margin-left: 35%;
  margin-right: 40%;
}
.p-heading {
  padding-left: 18px;
}
body {
  background-color: #d3cdcd;
}
.container {
  background-color: #d3cdcd;
}
.image-container {
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons 
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  Position the "next button" to the right 
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
   On hover, add a black background color with a little bit see-through 
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  */

/* Number text  */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #1c1c1c;
}

/* Fading animation */
.fade {
  animation-name: slide;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 36px;
  margin-left: 200px;
}

/*Fixed sidenav, full height 
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  */

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.headinga table th, td {
  color: #fff;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 3px;
}

.headinga table{
  margin-left: 400px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
  background-color: #e9e9e9;
}
.stull-main {
  background-color: #e9e9e9;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.blur {
  filter: blur(5px);
  transition: filter 0.5s;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

/* Set height of the image container to occupy half of the screen */
.image-container {
  height: 50vh; /* 50% of the viewport height */
  overflow: hidden; /* Hide any overflow */
  position: relative; /* Positioning context for absolute positioning */
}

/* Ensure the image fills the container */
.image-container img {
  position: absolute; /* Position the image absolutely */
  top: 0; /* Position the image at the top */
  left: 0; /* Position the image at the left */
  width: 100%; /* Ensure the image fills the container horizontally */
  height: auto; /* Maintain aspect ratio */
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 5%;
}

/* Make the image responsive */
.banner-container img {
  width: 100%;
  height: 230px;
}

/* Style the button and place it in the middle of the container/image */
.banner-container .container {
  position: absolute;
  top: 6%;
  left: 3%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: transparent;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.banner-container .container:hover {
  #menu-bar {
    background-color: white;
  }
  background-color: transparent;
}
.top {
  background-color: #818181;
}

/* Center the image within the vendor-list container */
.vendor-list {
  text-align: center; /* Center-align the content */
}

.vendor-list img {
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  margin: 0 auto; /* Center the image horizontally */
}

/*Setting the fi=ont type and size for all the paragraphs*/
.para {
  font-size: 20px;
  padding: 10px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 28%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: flex;
}
#com-title {
  margin-left: 1px;
}

#content table {
  text-align: left;
  align-items: center;
  margin-left: 500px;
}

#content p {
  margin-left: 200px;
  margin-right: 200px;
}

#content h1 {
  margin-left: 200px;
}

.column {
  float: left;
  width: 50%;
  color: #fff;

  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.pdn-top-30 {
  padding-top: 60px;
}
.footer {
  background-color: #051108;
  text-align: center;
  font-family: poppins;
  display: block;
}

.footer .headinga h3 {
  font-size: 38px;
  display: block;
  color: #fff;
  max-width: 850px;
  padding-bottom: 1px;
  border-bottom: #fff solid 1px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 20px;
}
.footer .headinga span {
  font-size: 17px;
  display: block;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 5px;
}
.footer .headinga p {
  font-size: 17px;
  display: block;
  color: #fff;
  line-height: 30px;
}
ul.link li {
  display: inline-block;
  padding: 8px 15px;
  margin-right: 2%;
}
ul.link li a {
  color: #fff;
  font-size: 17px;
}
ul.link li a:hover {
  color: #ff0000;
}

ul.location_icon {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5px;
}
ul.location_icon li {
  float: left;
  height: 60px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 20px;
}
ul.location_icon li:last-child {
  padding-right: 0px;
}
ul.location_icon li a {
  color: transparent;
  width: 40px;
  height: 40px;
  border: solid #fff 1px;
  float: left;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  font-size: 18px;
  background-color: transparent;
}

ul.location_icon li a:hover {
  background: #ff0000;
  border: solid #ff0000 1px;
  color: #fff;
}

ul.location_icon span {
  font-size: 17px;
  font-weight: 400;
}
.copyright {
  background: #fff;
  padding: 20px 0px 20px 0;
  margin-top: 50px;
}
.copyright p {
  color: #000;
  font-size: 16px;
  text-align: center;
  text-align: center;
  margin: 0 auto;
}
.copyright a {
  color: #000;
}
.copyright a:hover {
  color: #ff0000;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: inherit;
}

.image-text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-top: 6%;
  
}

.image-text-block img {
  height: 300px;
  width: 300px;
  align-items: center;
  transition: transform .2s;
}

.image-text-block p {
  padding-left: 4%;
}

.image-text-block img:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
